html,
body {
  font-family: 'Maven Pro', sans-serif; }
  html a,
  body a {
    text-decoration: none;
    color: inherit; }

.btn {
  margin: 0.5rem;
  padding: 1rem;
  text-align: center;
  border: 1px solid #fff;
  border-radius: 4px;
  transition: 0.15s; }
  .btn:hover {
    border: 1px solid #00bcd4;
    background-color: #00bcd4;
    cursor: pointer; }

.smaller {
  margin: 0.25rem;
  padding: 0.5rem;
  width: 5rem; }

.global-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh; }

.landing-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: url("../../assets/blurredtest.png");
  background-position: center;
  background-size: cover;
  background-position: center;
  color: white; }

.jumbo {
  text-align: center; }
  .jumbo h1 {
    font-size: 6rem;
    padding: 1rem; }
  .jumbo p {
    font-size: 1.5rem;
    padding: 1rem; }

.jumbo-buttons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem; }

.dashboard-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #2f2f2f;
  color: #fff; }

.top-dashboard {
  display: flex;
  width: 100%;
  height: 75%; }

.left-dashboard,
.right-dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%; }

.right-dashboard {
  justify-content: center; }

.left-dashboard {
  justify-content: center;
  background-color: #424242; }
  .left-dashboard h1 {
    font-size: 3rem; }

.dash-user-buttons {
  display: flex;
  justify-content: space-around;
  width: 50%;
  padding: 2rem; }

.footer-dashboard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 25%;
  padding: 1rem;
  background-color: #242424; }

.footer-container {
  display: flex;
  height: 75%; }

.left-feed,
.right-feed {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%; }

.navigation-wrapper {
  display: flex;
  justify-content: space-between;
  position: absolute;
  box-sizing: border-box;
  color: #fff;
  align-items: center;
  width: 100%;
  padding: 2rem;
  height: 2rem;
  transition: 0.15s; }
  .navigation-wrapper .nav-items {
    display: flex;
    justify-content: space-between;
    width: 20rem; }
    .navigation-wrapper .nav-items p {
      transition: 0.15s; }
      .navigation-wrapper .nav-items p:hover {
        color: #00bcd4;
        cursor: pointer; }
  .navigation-wrapper .nav-drop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    width: 10rem;
    height: 5rem;
    background-color: #242424;
    right: 0;
    margin-top: 2.25rem;
    margin-right: 0.5rem; }
  .navigation-wrapper .hidden {
    opacity: 0;
    visibility: hidden; }

.sub-nav {
  background-color: #242424; }

.app {
  padding: 40px; }

.row {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  align-items: center; }

button {
  background: #f3f3f3;
  border: 1px solid #ddd;
  border-radius: 4px;
  height: 40px;
  width: 120px;
  color: #333;
  font-size: 14px;
  cursor: pointer;
  position: relative;
  display: inline-block;
  left: 90px;
  top: -7px; }

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(36, 36, 36, 0.8); }

.hidemodal {
  visibility: hidden;
  opacity: 0; }

.modal-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  height: 40%;
  padding: 3.5rem 1rem;
  background-color: #2f2f2f; }
  .modal-wrapper .inputs,
  .modal-wrapper .buttons {
    display: flex; }
  .modal-wrapper .header {
    font-size: 3rem; }
  .modal-wrapper .inputs {
    flex-direction: column; }
    .modal-wrapper .inputs p {
      padding-top: 1rem; }
    .modal-wrapper .inputs input {
      width: 30rem;
      padding: 0.5rem;
      margin: 1rem; }
  .modal-wrapper .buttons {
    width: 20rem;
    justify-content: space-around; }
