html,
body {
  font-family: 'Maven Pro', sans-serif; }

.app {
  padding: 40px; }

.row {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  align-items: center; }

button {
  background: #f3f3f3;
  border: 1px solid #ddd;
  border-radius: 4px;
  height: 40px;
  width: 120px;
  color: #333;
  font-size: 14px;
  cursor: pointer;
  position: relative;
  display: inline-block;
  left: 90px;
  top: -7px; }

.btn {
  margin: 0.5rem;
  padding: 1rem;
  text-align: center;
  border: 1px solid #fff;
  border-radius: 4px;
  transition: 0.15s; }
  .btn:hover {
    border: 1px solid #00bcd4;
    background-color: #00bcd4;
    cursor: pointer; }

.global-container {
  width: 100%;
  height: 100%; }

.landing-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; }

.navigation-wrapper {
  display: flex;
  justify-content: space-between;
  background-color: #2f2f2f;
  color: #fff;
  align-items: center;
  padding: 1rem;
  height: 2rem; }
  .navigation-wrapper .nav-items {
    display: flex;
    justify-content: space-between;
    width: 20rem; }
    .navigation-wrapper .nav-items p {
      transition: 0.15s; }
      .navigation-wrapper .nav-items p:hover {
        color: #00bcd4;
        cursor: pointer; }
  .navigation-wrapper .nav-drop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    width: 10rem;
    height: 15rem;
    background-color: #2f2f2f;
    right: 0;
    margin-top: 2.5rem; }
  .navigation-wrapper .hidden {
    opacity: 0;
    visibility: hidden; }
